.allApp {
  outline: 5px solid gray;
  border-radius: 2px;
  font: bold 1rem sans-serif;
  margin: 0.5rem;
  outline-offset: 0.5rem;
  width: fit-content;
}
.currentInfo {
  border: 2px outset gray;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 4rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  width: 200px;
}
.futureWeather {
  border-left: 2px solid black;
  list-style: none;
}
.emoji {
  margin: 0 auto;
}
